body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: white;
  color: black;
}

table {
  border: 3px solid black;
  border-spacing: 0;
}

td {
  height: 30px;
  width: 30px;
  text-align: center;
  border: 1px solid black;
  position: relative;
}

td input {
  border: none;
  height: 30px;
  width: 30px;
  text-align: center;
  font-size: xx-large;
  xcaret-color: transparent;
}

.label {
  position: absolute;
  top: 1px;
  left: 1px;
  font-size: xx-small;
  color: gray;
}

.black {
  background: black;
  color: white;
}

.crossword {
  margin: 1em;
}