body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: white;
  color: black;
}

table {
  width: fit-content;
  border: 3px solid black;
  border-spacing: 0;

  background-image: url(https://images.unsplash.com/photo-1475372674317-8003c861cb6a);
  /* (https://picsum.photos/500); */

  background-size: cover;
  background-color: black;
}

td {
  height: 1rem;
  width: 1rem;
  text-align: center;
  position: relative;
}

td.white {
  color: white;

}

td input {
  height: 30px;
  width: 30px;
  text-align: center;
  font-size: xx-large;
  caret-color: transparent;
  background-color: white;
  color: black;
  border: none;
}

.label {
  position: absolute;
  top: 1px;
  left: 1px;
  font-size: xx-small;
  color: black;
}

.crossword {
  margin: 1em;
}

#hints a {
  text-decoration: none;
  color: inherit;
}

#hints a:hover {
  text-decoration: underline;
  color: blue;
}